.additional-products__text {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.additional-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 49px;
  margin-bottom: 54px;
}

.additional-products__item {
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .additional-products__list {
    margin-top: 80px;
  }

  .additional-products__item {
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
    margin-bottom: 0;
  }

  .additional-products__text {
    font-size: 36px;
    line-height: 36px;
  }

  .additional-products__item-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .additional-products {
    min-height: 491px;
  }

  .additional-products__wrap {
    display: flex;
    justify-content: space-between;
  }

  .additional-products__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-products__list {
    margin-top: 81px;
    max-width: 896px;
    width: 100%;
  }

  .additional-products__item {
    display: flex;
    justify-content: space-between;
    border: none;
    border-top: 1px solid #cdcdcd;
    align-items: center;
    padding: 0;
  }

  .additional-products__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  .additional-products__item-wrap {
    width: 610px;
    margin-bottom: 0;
  }
}
