.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

.copyright__link-academy {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  margin: 0;
}

.copyright__link-icon {
  fill: #666666;
}

.copyright__link:hover .copyright__link-icon {
  fill: #68b738;
}

.copyright__link:active .copyright__link-icon,
.copyright__link:active .copyright__link-academy {
  fill: #68b738;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .copyright__link {
    margin-left: 0;
    margin-right: 0;
  }

  .copyright__link-academy {
    margin-right: 28px;
  }
}
