.example {
  display: block;
  position: relative;
  padding-top: 25px;
  background-color: #eaeaea;
}

.example__description {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #444444;
}

.example__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.example__item {
  display: block;
  text-align: center;
  width: 124px;
}

.example__item-quantity {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  min-height: 56px;
  padding-top: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  box-sizing: border-box;
}

.example__item-text {
  margin: 0 auto;
  margin-top: -9px;
  width: 77px;
  font-size: 12px;
  color: #444444;
  background-color: #eaeaea;
}

.example__wrap-start {
  display: flex;
  justify-content: center;
}

.example__stat,
.example__stat-price {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {
    width: 769px;
    background-color: #ffffff;
  }

  .example__description {
    margin-top: 63px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrap {
    width: 366px;
    margin-bottom: 99px;
  }

  .example__item-quantity {
    font-size: 30px;
    line-height: 37px;
    min-height: 77px;
    width: 162px;
    padding-top: 15px;
  }

  .example__item-text {
    margin: 0 auto;
    margin-top: -9px;
    margin-left: 10px;
    width: 142px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .example__item-text-place {
    width: 114px;
    margin-left: 24px;
  }

  .example__stat {
    position: absolute;
    right: 0;
    width: 174px;
    margin: 0;
    font-size: 20px;
    text-align: right;
    top: 260px;
  }

  .example__stat-price {
    position: absolute;
    right: 0;
    width: 174px;
    margin: 0;
    font-size: 20px;
    text-align: right;
    top: 289px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    width: 1440px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 75px;

    &::before {
      position: absolute;
      min-height: 462px;
      height: 100%;
      background-color: #eaeaea;
      content: "";
    }
  }

  .example__description {
    width: 436px;
  }

  .example__wrap {
    margin-bottom: 55px;
  }

  .example__wrap-start {
    display: flex;
    justify-content: space-between;
  }

  .example__stat {
    display: block;
    position: relative;
    width: 175px;
    margin: 0;
    font-size: 20px;
    top: 0;
    left: 0;
    text-align: left;
  }

  .example__stat-price {
    display: block;
    position: relative;
    width: 90px;
    margin: 0;
    font-size: 20px;
    top: 0;
    left: 0;
    text-align: left;
  }
}
