.form-program {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 52px;
}

.form-program__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;

  &::after {
    position: absolute;
    background-color: #d9d9d9;
    height: 1px;
    bottom: -25px;
    left: -20px;
    width: 320px;
    content: "";
  }
}

.form-program__list-item:not(:last-child) {
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .form-program {
    margin-left: 41px;
    margin-right: 37px;
    margin-bottom: 63px;
  }

  .form-program__list {
    padding-top: 30px;
    padding-left: 28px;
    padding-bottom: 30px;
    border: 1px solid #e7e7e7;

    &::after {
      display: none;
    }
  }

  .form-program__list-item:not(:last-child) {
    margin-bottom: 13px;
  }
}

@media (min-width: @desktop-width) {
  .form-program {
    margin: 0;
    margin-bottom: 69px;
  }

  .form-program__list {
    padding-bottom: 19px;
    width: 568px;
  }
}
