.form-program {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}

.form-program__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-program__list-item {
  margin-bottom: 13px;
}
