.form-contacts {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.form-contacts__line {
  &::after {
    position: absolute;
    background-color: #68b738;
    height: 2px;
    width: 99px;
    right: -20px;
    top: 15px;
    content: "";
  }
}

.form-contacts__wrapper {
  margin-top: 33px;
}

.form-contacts__private {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  position: relative;
}

.form-contacts__private-mail {
  white-space: pre-wrap;
  max-width: 51px;
  width: 100%;
}

.form-contacts__private-data {
  display: flex;
  width: 100%;
  margin: 0 0 0 10px;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 13px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.form-contacts__private:hover .form-contacts__private-data {
  border: 1px solid #cdcdcd;
}

.form-contacts__private:focus .form-contacts__private-data {
  border: 2px solid #444444;
}

.form-contacts__private--icon-mail {
  position: absolute;
  right: 16px;
}

.form-contacts__private--icon-phone {
  position: absolute;
  right: 16px;
}

@media (min-width: @tablet-width) {
  .form-contacts {
    margin-bottom: 65px;
  }

  .form-contacts__line {
    &::before {
      position: absolute;
      background-color: #68b738;
      height: 2px;
      width: 30px;
      left: -60px;
      top: 23px;
      content: "";
    }

    &::after {
      width: 145px;
      right: -30px;
      top: 22px;
    }
  }

  .form-contacts__wrapper {
    margin-top: 76px;
  }

  .form-contacts__private {
    margin-left: 41px;
    margin-right: 36px;
    font-size: 20px;
    line-height: 30px;
  }

  .form-contacts__private-data {
    margin-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .form-contacts__line {
    &::before {
      width: 70px;
      left: -110px;
      top: 25px;
    }

    &::after {
      width: 778px;
      right: -110px;
      top: 25px;
    }
  }

  .form-contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form-contacts__private {
    margin: 0;
    width: 570px;
  }
}
