.hero__backphoto {
  background-image: url("../../img/index-background-cat.jpg");
  width: 320px;
  height: 302px;
  margin-bottom: 140px;
  right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: #ffffff;
  text-align: center;
  position: relative;
  box-sizing: border-box;

  &::before {
    position: absolute;
    width: 320px;
    height: 302px;
    background: rgba(104, 183, 56, 0.85);
    transform: translateX(-50%);
    content: "";
  }
}

.hero {
  position: relative;
}

.hero__image {
  position: absolute;
  transform: translateY(-102%);
}

.hero__button {
  display: block;
  min-width: 280px;
  text-align: center;
  box-sizing: border-box;
}
