.map__location {
  position: relative;
  right: 20px;
}

@media (min-width: @tablet-width) {
  .map {
    min-height: 599px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    min-height: 400px;
  }
}
