.offer-card__wrapper {
  display: flex;
  margin-bottom: 13px;
}

.offer-card__small {
  display: block;
  width: 140px;
  height: 112px;
  padding: 14px 36px 12px;
}

.offer-card__big {
  display: block;
  width: 140px;
  height: 112px;
  padding: 11px 28px 1px;
}

.offer-card__title {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  display: block;
  max-width: 76px;
  margin-bottom: 18px;
}

.offer-card__text {
  display: flex;
  width: 140px;
  justify-content: space-between;
  line-height: 16px;
  color: #444444;
}

.offer-card__discription {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
}

@media (min-width: @tablet-width) {
  .offer-card {
    height: 430px;
    background-color: #f2f2f2;
    margin-bottom: 97px;
  }

  .offer-card__wrapper {
    display: block;
    margin-bottom: 33px;
  }

  .offer-card__title {
    max-width: 159px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
  }

  .offer-card__small {
    display: block;
    width: 168px;
    height: 200px;
    padding: 28px 3px 0 4px;
    margin: 0 auto;
    margin-bottom: 34px;
    margin-top: -73px;
  }

  .offer-card__big {
    display: block;
    width: 168px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 34px;
    margin-top: -73px;
  }

  .offer-card__text {
    width: 252px;
    font-size: 16px;
    margin-left: 36px;
    border-bottom: 1px solid #cdcdcd;
  }

  .offer-card__discription {
    font-size: 16px;
    line-height: 18px;
    max-width: 165px;
    margin: 0 auto;
    margin-bottom: 87px;
  }
}

@media (min-width: @desktop-width) {
  .offer-card__text {
    margin: 0 auto;
    width: 168px;
  }
}
