.primary-button {
  font-family: "Oswald";
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #68B738;
  padding: 7px 44px;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  }
