.site-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    width: 440px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 478px;
  }
}
