.slider {
  position: relative;
}

.slider__button {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  left: 120px;
  top: 0;
  z-index: 5;
  cursor: pointer;

  &::before {
    position: absolute;
    width: 4px;
    height: 256px;
    background-color: #666666;
    border-radius: 2px;
    z-index: 1;
    top: 0;
    left: 20px;
    content: "";
  }
}

.slider__button:hover::before {
  background-color: #68b738;
}

.slider__button:active::before {
  background-color: #5eaa2f99;
}

.slider__button-transform {
  position: absolute;
  top: 108px;
  left: 2px;
  z-index: 2;
  fill: none;
  stroke: #666666;
  color: #666666;

  &:hover,
  &:focus {
    stroke: #68b738;
    color: #68b738;
  }

  &:active {
    stroke: #5eaa2f99;
    color: #5eaa2f99;
  }
}

.slider__cats {
  position: relative;
}

@media (min-width: @tablet-width) {
  .slider {
    background-color: #eaeaea;
    min-height: 461px;
    width: 769px;
    left: -30px;
  }

  .slider__cats {
    position: absolute;
    top: -151px;
    right: 104px;
    width: 560px;
    height: 512px;
  }

  .slider__button {
    left: 394px;

    &::before {
      height: 512px;
      top: -151px;
      left: -11px;
    }
  }

  .slider__button-transform {
    top: 85px;
    left: -29px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    background-color: #eaeaea00;
  }

  .slider__button {
    left: 394px;

    &::before {
      height: 512px;
      top: 0;
      left: 122px;
    }
  }

  .slider__cats {
    top: 0;
    right: 0;
    left: 239px;
  }

  .slider__button-transform {
    top: 237px;
    left: 105px;
  }
}
