.stages__list {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 29px;
  padding-left: 80px;
  padding-right: 20px;
}

.stages__list-item {
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .stages {
    min-height: 689px;
  }

  .stages__list {
    display: grid;
    grid-template-columns: 230px 230px;
  }
}

@media (min-width: @desktop-width) {
  .stages {
    min-height: 372px;
  }

  .stages__list {
    display: flex;
  }
}
